body {
  /*background-color:#f5f5f5;*/
}

.nach_rechts {
  text-align:right;
  vertical-align:top;
}
.ausgabebereich {
  background-color:white;
  border-style:solid;
  border-color:#bebebe;
  border-width:1px;
  border-radius:2px;
  /*min-width:400px;
  max-width:400px;*/
  width:400px;
  min-height:32px;
  padding:3px;
}
.ausgabebereich:hover {
  /*box-shadow: 0 0 1px 1px #369 inset;*/
}
.meinknopf {
  background-color:#f5f5f5;
  border-style:solid;
  border-color:#bebebe;
  border-width:1px;
  border-radius:5px;
  padding:4px;
}
.meinknopf:hover {
  box-shadow: 0 0 1px 1px #369 inset;
}
